#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1;
}
html.js input.form-autocomplete {
  background-image: url(/misc/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-image: url(/misc/throbber-active.gif);
  background-position: 100% center;
}
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.resizable-textarea .grippie {
  background: #eee url(/misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  background: url(/misc/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  padding: 0.42em 0.5em;
  width: 13px;
}
a.tabledrag-handle-hover .handle {
  background-position: 6px -11px;
}
div.indentation {
  float: left;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  padding: 0.42em 0 0.42em 0.6em;
  width: 20px;
}
div.tree-child {
  background: url(/misc/tree.png) no-repeat 11px center;
}
div.tree-child-last {
  background: url(/misc/tree-bottom.png) no-repeat 11px center;
}
div.tree-child-horizontal {
  background: url(/misc/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
  text-align: right;
}
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right;
}
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent url(/misc/throbber-active.gif) no-repeat 0px center;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}
.container-inline div,
.container-inline label {
  display: inline;
}
.container-inline .fieldset-wrapper {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
html.js .js-hide {
  display: none;
}
.element-hidden {
  display: none;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
*:first-child + html .clearfix {
  min-height: 1%;
}
#comments {
  margin-top: 15px;
}
.indented {
  margin-left: 25px;
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}
.container-inline-date {
  clear: both;
}
.container-inline-date .form-item {
  float: none;
  margin: 0;
  padding: 0;
}
.container-inline-date > .form-item {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: top;
}
fieldset.date-combo .container-inline-date > .form-item {
  margin-bottom: 10px;
}
.container-inline-date .form-item .form-item {
  float: left;
}
.container-inline-date .form-item,
.container-inline-date .form-item input {
  width: auto;
}
.container-inline-date .description {
  clear: both;
}
.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
  margin-right: 5px;
}
.container-inline-date .date-spacer {
  margin-left: -5px;
}
.views-right-60 .container-inline-date div {
  margin: 0;
  padding: 0;
}
.container-inline-date .date-timezone .form-item {
  clear: both;
  float: none;
  width: auto;
}
.container-inline-date .date-padding {
  float: left;
}
fieldset.date-combo .container-inline-date .date-padding {
  padding: 10px;
}
.views-exposed-form .container-inline-date .date-padding {
  padding: 0;
}
#calendar_div,
#calendar_div td,
#calendar_div th {
  margin: 0;
  padding: 0;
}
#calendar_div,
.calendar_control,
.calendar_links,
.calendar_header,
.calendar {
  border-collapse: separate;
  margin: 0;
  width: 185px;
}
.calendar td {
  padding: 0;
}
span.date-display-single {
}
span.date-display-start {
}
span.date-display-end {
}
.date-prefix-inline {
  display: inline-block;
}
.date-clear {
  clear: both;
  display: block;
  float: none;
}
.date-no-float {
  clear: both;
  float: none;
  width: 98%;
}
.date-float {
  clear: none;
  float: left;
  width: auto;
}
.date-float .form-type-checkbox {
  padding-right: 1em;
}
.form-type-date-select .form-type-select[class*="hour"] {
  margin-left: 0.75em;
}
.date-container .date-format-delete {
  float: left;
  margin-top: 1.8em;
  margin-left: 1.5em;
}
.date-container .date-format-name {
  float: left;
}
.date-container .date-format-type {
  float: left;
  padding-left: 10px;
}
.date-container .select-container {
  clear: left;
  float: left;
}
div.date-calendar-day {
  background: #f3f3f3;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  color: #999;
  float: left;
  line-height: 1;
  margin: 6px 10px 0 0;
  text-align: center;
  width: 40px;
}
div.date-calendar-day span {
  display: block;
  text-align: center;
}
div.date-calendar-day span.month {
  background-color: #b5bebe;
  color: white;
  font-size: 0.9em;
  padding: 2px;
  text-transform: uppercase;
}
div.date-calendar-day span.day {
  font-size: 2em;
  font-weight: bold;
}
div.date-calendar-day span.year {
  font-size: 0.9em;
  padding: 2px;
}
.date-form-element-content-multiline {
  padding: 10px;
  border: 1px solid #ccc;
}
.form-item.form-item-instance-widget-settings-input-format-custom,
.form-item.form-item-field-settings-enddate-required {
  margin-left: 1.3em;
}
#edit-field-settings-granularity .form-type-checkbox {
  margin-right: 0.6em;
}
.date-year-range-select {
  margin-right: 1em;
}
#ui-datepicker-div {
  font-size: 100%;
  font-family: Verdana, sans-serif;
  background: #eee;
  border-right: 2px #666 solid;
  border-bottom: 2px #666 solid;
  z-index: 9999;
}
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: left;
}
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table th.field-label {
  padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: 0.5em;
}
form .field-add-more-submit {
  margin: 0.5em 0 0;
}
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}
.search-form {
  margin-bottom: 1em;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results {
  list-style: none;
}
.search-results p {
  margin-top: 0;
}
.search-results .title {
  font-size: 1.2em;
}
.search-results li {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em;
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left;
  margin-right: 2em;
}
.search-advanced .action {
  float: left;
  clear: left;
}
a.toc-filter-top {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
}
div.toc-filter,
div.toc-filter-bullet,
div.toc-filter-number,
div.toc-filter-faq {
}
div.toc-filter-content {
  clear: both;
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em;
  background-color: #eee;
}
div.toc-filter .item-list > h3 {
  margin-top: 0;
}
div.toc-filter-content ul,
div.toc-filter-content ol {
  margin-top: 0;
  margin-bottom: 0;
}
h2 span.toc-filter-number,
h3 span.toc-filter-number {
  float: left;
  display: block;
  color: #999;
  width: 1.5em;
}
div.toc-filter-back-to-top {
  clear: both;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
div.toc-filter-back-to-top.first {
  border-top: none;
}
div.toc-filter-back-to-top a:link,
div.toc-filter-back-to-top a:visited {
  float: right;
  display: block;
  font-weight: bold;
}
#permissions td.module {
  font-weight: bold;
}
#permissions td.permission {
  padding-left: 1.5em;
}
#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal;
}
#user-admin-settings fieldset .fieldset-description {
  font-size: 0.85em;
  padding-bottom: 0.5em;
}
#user-admin-roles td.edit-name {
  clear: both;
}
#user-admin-roles .form-item-name {
  float: left;
  margin-right: 1em;
}
.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right;
  font-weight: bold;
}
.password-indicator {
  background-color: #c4c4c4;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #47c965;
}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: right;
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #b4b4b4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}
.profile {
  clear: both;
  margin: 1em 0;
}
.profile .user-picture {
  float: right;
  margin: 0 1em 1em 0;
}
.profile h3 {
  border-bottom: 1px solid #ccc;
}
.profile dl {
  margin: 0 0 1.5em 0;
}
.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin: 0 0 1em 0;
}
.video-left {
  float: left;
}
.video-right {
  float: right;
}
.video-center {
  display: block;
  margin: 0 auto;
}
.views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0.5em 1em 0 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}
.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}
.views-exposed-form label {
  font-weight: bold;
}
.views-exposed-widgets {
  margin-bottom: 0.5em;
}
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}
.views-view-grid tbody {
  border-top: none;
}
.view .progress-disabled {
  float: none;
}
.media-wysiwyg-align-left,
.media-float-left {
  float: left;
  margin-right: 20px;
}
.media-wysiwyg-align-right,
.media-float-right {
  float: right;
  margin-left: 20px;
}
.media-wysiwyg-align-center {
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: center;
}
