:root {
  --lightgrey: #e4e4e4;
  --midgrey: #9e9e9e;
  --darkgrey: #3a3a3a;
}

p {
  clear: both;
}

li.menu__item {
  display: inline;
  margin-right: 20px;
}

footer {
  padding: 0 10% 0 10%;
}
#app {
  position: relative;
}

#pathfinder {
  width: 980px;
  float: none;
  clear: both;
  margin: 0 auto;
  display: block;
  position: relative;
  border-radius: 7px;
  background-color: #faf5e6;
  margin-bottom: 11px;
  box-shadow: 3px 3px 2px #cacaca;
}

#responsive {
  display: none;
}
@media only screen and (max-width: 1000px) {
  #app {
    display: none;
  }
  #responsive {
    display: block;
  }
}

#pathfinder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 6em;
  text-align: center;
}

#pathfinder.info {
  display: block;
  text-align: left;
  padding: 2.5em 6em;
}

#pathfinder.info h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.button-options {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.question,
label {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

a.button-large {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 40%;
  min-height: 100px;
  border-radius: 1em;
  padding: 1.2em;
  margin: 1em;
  border: 1px solid gainsboro;
  background: white;
  text-decoration: none;
  font-size: 1.3em;
}

a.button-large:hover {
  background: gold;
  color: black;
}

a.button-large.register {
  background: gold;
  min-height: 4em;
  align-items: center;
  margin: 1.4em 0;
  font-weight: 700;
}

a.button-large.register:hover {
  background: orange;
}

a.back-button {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  width: 150px;
  align-self: left;
  /* margin: 0 auto; */
}

a.back-button:hover {
  text-decoration: underline;
}

.hint:before {
  content: "ⓘ ";
  font-weight: bold;
  color: rgb(0, 140, 255);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: 1em 0;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 2.5em;
  font-weight: bold;
  margin: 0.5em 0 2em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  width: 150px;
  border-radius: 5px;
  background: #213f7d;
  color: white;
}

.next-button:hover {
  background: #2385c6;
  color: white;
}
